name: Build rockchip firmware
on: [push]

jobs:
    build:
        name: Build rockchip linux v7.0 images
        runs-on: ubuntu-24.04-arm

        steps:
            - name: Setup Ubuntu
              run: |
                sudo apt update
                sudo apt install -y subversion build-essential gettext 2to3 python3-pyelftools python3-distutils-extra
            - name: Setup Go
              uses: actions/setup-go@main
              with:
                go-version: '1.25.4'
            - name: Checkout
              uses: actions/checkout@main

            - name: Build
              run: |
                git clone https://github.com/mj22226/source.git openwrt
                cd openwrt
                git pull
                git checkout 7.0
                ./scripts/feeds update -a
                ./scripts/feeds install -a
                cd feeds/luci
                wget https://gist.githubusercontent.com/mj22226/363cefecd314e45b49d8eafff8473fcf/raw/f327d1fcae5513be3abbeea1c6696c1da845a635/01-diskman.patch
                git apply 01-diskman.patch
                wget https://github.com/mj22226/luci/commit/239fd8e34a7e3d85d104be72b385ce46ccb9dfb4.patch
                rm -rf applications/luci-app-dockerman
                git apply 239fd8e34a7e3d85d104be72b385ce46ccb9dfb4.patch
                cd -
                cd  feeds/packages
                wget https://gist.githubusercontent.com/mj22226/351f11e66f08f06e37a985719a31ddb4/raw/2cf67633587d351b66fdf1bd902df6494cd42e68/01-cpu.patch
                wget https://gist.githubusercontent.com/mj22226/b66f5c1bd5fc7e1cb3cf2c690b5dbd5a/raw/b955e726cbb0948d932c8d6143229ad604320149/20-lxc.patch
                wget https://github.com/mj22226/packages/commit/d06f021296c14c5f7c89f4cf91163170cdd36372.patch
                git apply 01-cpu.patch
                git apply 20-lxc.patch
                git apply d06f021296c14c5f7c89f4cf91163170cdd36372.patch
                cd -
                sed -i "71s/'0'/'1'/" feeds/luci/applications/luci-app-statistics/root/etc/config/luci_statistics
                sed -i "84s/'0'/'1'/" feeds/luci/applications/luci-app-statistics/root/etc/config/luci_statistics
                sed -i "195s/'0'/'1'/" feeds/luci/applications/luci-app-statistics/root/etc/config/luci_statistics
                sed -i "212s/'0'/'1'/" feeds/luci/applications/luci-app-statistics/root/etc/config/luci_statistics
                sed -i "13s/'1'/'0'/" feeds/packages/utils/dockerd/files/etc/config/dockerd
                sed -i "4s/login/login -f root/" feeds/packages/utils/ttyd/files/ttyd.config
                sed -i '7c\	default y' package/libs/openssl/Config.in
                sed -i '12d' feeds/luci/applications/luci-app-attendedsysupgrade/Makefile
                ./scripts/feeds update -a
                ./scripts/feeds install -a -f
                cp .github/workflows/rk-config .config
                echo 'CONFIG_GOLANG_EXTERNAL_BOOTSTRAP_ROOT="/opt/hostedtoolcache/go/1.25.4/arm64/bin"' >> .config
                make defconfig
                wget https://gist.githubusercontent.com/mj22226/9a69bb754a83e8a5cf03fcc60d62d473/raw/cc6f36831d6098de4a7fccf04a312d36a0dbc999/01-key.patch
                git apply 01-key.patch
                make download -j32
                rm 01-key.patch
                make -j$(nproc) 'IGNORE_ERRORS=n m'
                tar -czvf bin/targets/rockchip/armv8/logs.tar.gz logs
                rm -rf bin/targets/rockchip/armv8/packages
                echo "DATE=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
                echo "HASH=$(git log -1 --format="%H")" >> $GITHUB_ENV
            - name: Delete tag
              run: gh release delete rockchip-7.0 --cleanup-tag || true
              env:
                 GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Create release
              uses: ncipollo/release-action@main
              with:
                allowUpdates: true
                commit: ${{ env.HASH }}
                name: Rockchip v7.0 Images ${{ env.DATE }}
                tag: rockchip-7.0
                replacesArtifacts: true
                prerelease: true
                token: "${{ secrets.GITHUB_TOKEN }}"
                artifacts: openwrt/bin/targets/rockchip/armv8/*
